
@{
    ViewBag.Title = "Download";
}

<h2>Download</h2>
<div>
    <form action="DownloadCampaign" method="post" enctype="multipart/form-data" id="download" name="download" class="form-horizontal">
        <button id="btnDownload" class="btn btn-default">DownLoad</button>
        <br />
    </form>
</div>
