USE [master]
GO
/****** Object:  Database [hospital]    Script Date: 12/19/2018 11:51:26 AM ******/
CREATE DATABASE [hospital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hospital', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\hospital.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'hospital_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\hospital_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hospital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hospital]
GO
/****** Object:  Table [dbo].[batches]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[batches](
	[batch_id] [int] IDENTITY(1,1) NOT NULL,
	[batch_number] [varchar](50) NULL,
	[isactive] [int] NULL CONSTRAINT [DF_batches_isactive]  DEFAULT ((1)),
	[added_on] [datetime] NULL CONSTRAINT [DF_batches_added_on]  DEFAULT (getdate()),
	[modified_on] [datetime] NULL,
	[manufacture_date] [datetime] NULL,
	[expiry_date] [datetime] NULL,
 CONSTRAINT [PK_batches] PRIMARY KEY CLUSTERED 
(
	[batch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[billing]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[billing](
	[bill_id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NULL,
	[order_id] [varchar](50) NULL,
	[price] [decimal](18, 2) NULL,
	[item_id] [int] NULL,
	[itemtype] [char](1) NULL,
	[added_on] [datetime] NULL CONSTRAINT [DF_billing_added_on]  DEFAULT (getdate()),
	[modified_on] [datetime] NULL,
	[isactive] [int] NULL CONSTRAINT [DF_billing_isactive]  DEFAULT ((1)),
 CONSTRAINT [PK_billing] PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[category]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](200) NULL,
	[isactive] [int] NULL CONSTRAINT [DF_category_isactive]  DEFAULT ((1)),
	[added_on] [datetime] NULL CONSTRAINT [DF_category_added_on]  DEFAULT (getdate()),
	[modified_on] [datetime] NULL,
	[added_by] [int] NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[charges]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[charges](
	[charge_id] [int] IDENTITY(1,1) NOT NULL,
	[charge_description] [varchar](max) NULL,
	[amount] [decimal](18, 2) NULL,
	[isactive] [int] NULL CONSTRAINT [DF_charges_isactive]  DEFAULT ((1)),
	[added_on] [datetime] NULL CONSTRAINT [DF_charges_added_on]  DEFAULT (getdate()),
	[modified_on] [datetime] NULL,
 CONSTRAINT [PK_charges] PRIMARY KEY CLUSTERED 
(
	[charge_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[drugs]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[drugs](
	[drug_id] [int] IDENTITY(1,1) NOT NULL,
	[drug_name] [varchar](200) NULL,
	[volume] [varchar](50) NULL,
	[unit] [nchar](10) NULL,
	[isactive] [int] NULL CONSTRAINT [DF_drugs_isactive]  DEFAULT ((1)),
	[added_on] [datetime] NULL CONSTRAINT [DF_drugs_added_on]  DEFAULT (getdate()),
	[modified_on] [datetime] NULL,
	[added_by] [int] NULL,
	[unit_price] [decimal](18, 2) NULL,
	[category_id] [int] NULL,
 CONSTRAINT [PK_drugs] PRIMARY KEY CLUSTERED 
(
	[drug_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hos_diagnosed]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hos_diagnosed](
	[diagnosed_id] [int] IDENTITY(1,1) NOT NULL,
	[diagnosis_id] [int] NULL,
	[patient_id] [int] NULL,
	[added_on] [datetime] NULL,
	[modified_on] [datetime] NULL,
	[isactive] [int] NULL,
 CONSTRAINT [PK_hos_diagnosed] PRIMARY KEY CLUSTERED 
(
	[diagnosed_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[hos_diagnoses]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hos_diagnoses](
	[diagnosis_id] [int] IDENTITY(1,1) NOT NULL,
	[diagnosis] [nvarchar](400) NULL,
	[isactive] [int] NULL CONSTRAINT [DF_hos_diagnoses_isactive]  DEFAULT ((1)),
	[added_on] [datetime] NULL CONSTRAINT [DF_hos_diagnoses_added_on]  DEFAULT (getdate()),
 CONSTRAINT [PK_hos_diagnoses] PRIMARY KEY CLUSTERED 
(
	[diagnosis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[hos_drug_prescribed]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hos_drug_prescribed](
	[drug_request_id] [int] IDENTITY(1,1) NOT NULL,
	[drug_id] [int] NULL,
	[patient_id] [int] NULL,
	[user_id] [int] NULL,
	[isactive] [int] NULL CONSTRAINT [DF_hos_drug_prescribed_isactive]  DEFAULT ((1)),
	[added_on] [datetime] NULL CONSTRAINT [DF_hos_drug_prescribed_added_on]  DEFAULT (getdate()),
	[modified_on] [datetime] NULL,
	[completedyn] [varchar](50) NULL,
	[completedby] [int] NULL,
	[dosage] [varchar](1000) NULL,
	[medical_id] [int] NULL,
 CONSTRAINT [PK_hos_drug_prescribed] PRIMARY KEY CLUSTERED 
(
	[drug_request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hos_examination]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hos_examination](
	[examination_id] [int] IDENTITY(1,1) NOT NULL,
	[examination] [varchar](25) NULL,
	[isactive] [int] NULL CONSTRAINT [DF_hos_examination_isactive]  DEFAULT ((1)),
	[added_on] [datetime] NULL CONSTRAINT [DF_hos_examination_added_on]  DEFAULT (getdate()),
 CONSTRAINT [PK_hos_examination] PRIMARY KEY CLUSTERED 
(
	[examination_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hos_examined]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hos_examined](
	[examined_id] [int] IDENTITY(1,1) NOT NULL,
	[examination_id] [int] NULL,
	[patient_id] [int] NULL,
	[added_on] [datetime] NULL,
	[modified_on] [datetime] NULL,
	[isactive] [int] NULL,
 CONSTRAINT [PK_hos_examined] PRIMARY KEY CLUSTERED 
(
	[examined_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[hos_images]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hos_images](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[image] [varchar](max) NULL,
	[path] [varchar](max) NULL,
	[imagename] [varchar](max) NULL,
	[patient_id] [int] NULL,
	[created_on] [datetime] NULL CONSTRAINT [DF_hos_images_created_on]  DEFAULT (getdate()),
	[modified_on] [datetime] NULL,
 CONSTRAINT [PK_hos_images] PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hos_lab_request]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hos_lab_request](
	[lab_request_id] [int] IDENTITY(1,1) NOT NULL,
	[test_id] [int] NULL,
	[patient_id] [int] NULL,
	[user_id] [int] NULL,
	[isactive] [int] NULL CONSTRAINT [DF_hos_lab_request_isactive]  DEFAULT ((1)),
	[added_on] [datetime] NULL CONSTRAINT [DF_hos_lab_request_added_on]  DEFAULT (getdate()),
	[modified_on] [datetime] NULL,
	[completedyn] [varchar](50) NULL,
	[remarks] [varchar](8000) NULL,
	[completedby] [int] NULL,
	[medical_id] [int] NULL,
 CONSTRAINT [PK_hos_lab_request] PRIMARY KEY CLUSTERED 
(
	[lab_request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hos_lab_test]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hos_lab_test](
	[test_id] [int] IDENTITY(1,1) NOT NULL,
	[test_name] [varchar](200) NULL,
	[isactive] [int] NULL CONSTRAINT [DF_hos_lab_test_isactive]  DEFAULT ((1)),
	[added_on] [datetime] NULL CONSTRAINT [DF_hos_lab_test_added_on]  DEFAULT (getdate()),
	[modified_on] [datetime] NULL,
	[unit_price] [decimal](18, 2) NULL,
 CONSTRAINT [PK_hos_lab_test] PRIMARY KEY CLUSTERED 
(
	[test_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hos_level]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hos_level](
	[level_id] [int] IDENTITY(1,1) NOT NULL,
	[level_type] [varchar](50) NULL,
	[isactive] [int] NULL CONSTRAINT [DF_hos_level_isactive]  DEFAULT ((1)),
	[added_on] [datetime] NULL CONSTRAINT [DF_hos_level_added_on]  DEFAULT (getdate()),
	[modified_on] [datetime] NULL,
 CONSTRAINT [PK_hos_level] PRIMARY KEY CLUSTERED 
(
	[level_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hos_medical]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hos_medical](
	[med_id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NULL,
	[complain] [varchar](max) NULL,
	[temperature] [decimal](18, 2) NULL,
	[height] [decimal](18, 2) NULL,
	[weight] [decimal](18, 2) NULL,
	[blood_pressure] [varchar](50) NULL,
	[pulse] [varchar](50) NULL,
	[bmi] [decimal](18, 2) NULL,
	[added_on] [datetime] NULL CONSTRAINT [DF_hos_medical_added_on]  DEFAULT (getdate()),
	[modified_on] [datetime] NULL,
	[isactive] [int] NULL CONSTRAINT [DF_hos_medical_isactive]  DEFAULT ((1)),
	[treatment_status] [int] NULL,
	[historyexamination] [varchar](max) NULL,
	[diagnosis] [varchar](max) NULL,
 CONSTRAINT [PK_hos_medical] PRIMARY KEY CLUSTERED 
(
	[med_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hos_patient]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hos_patient](
	[pat_number] [varchar](25) NULL,
	[pat_id] [int] IDENTITY(1,1) NOT NULL,
	[pat_lname] [varchar](50) NULL,
	[pat_fname] [varchar](50) NULL,
	[pat_oname] [varchar](50) NULL,
	[pat_gender] [varchar](50) NULL,
	[dob] [varchar](50) NULL,
	[pat_res] [varchar](50) NULL,
	[pat_mobile] [varchar](50) NULL,
	[pat_phone] [varchar](50) NULL,
	[pat_postal] [varchar](50) NULL,
	[pat_occupation] [varchar](50) NULL,
	[added_on] [datetime] NULL CONSTRAINT [DF_hos_patient_added_on]  DEFAULT (getdate()),
	[modified_on] [datetime] NULL,
	[isactive] [int] NULL CONSTRAINT [DF_hos_patient_isactive]  DEFAULT ((1)),
	[emergencycontactperson] [varchar](400) NULL,
	[emergencycontact] [varchar](50) NULL,
	[paymode] [nchar](10) NULL,
	[pat_title] [nchar](3) NULL,
	[national_id] [varchar](25) NULL,
	[pat_level] [varchar](50) NULL,
 CONSTRAINT [PK_hos_patient] PRIMARY KEY CLUSTERED 
(
	[pat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hos_staff]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hos_staff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_lname] [varchar](50) NULL,
	[staff_fname] [varchar](50) NULL,
	[staff_number] [varchar](50) NULL,
	[staff_phone] [varchar](50) NULL,
	[staff_email] [varchar](50) NULL,
	[user_level] [int] NULL,
	[practice_id] [int] NULL,
	[added_on] [datetime] NULL CONSTRAINT [DF_hos_staff_added_on]  DEFAULT (getdate()),
	[modified_on] [datetime] NULL,
	[isactive] [int] NULL CONSTRAINT [DF_hos_staff_isactive]  DEFAULT ((1)),
 CONSTRAINT [PK_hos_staff] PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hos_treatment_status]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hos_treatment_status](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](50) NULL,
	[isactive] [int] NULL CONSTRAINT [DF_hos_treatment_status_isactive]  DEFAULT ((1)),
	[added_on] [datetime] NULL CONSTRAINT [DF_hos_treatment_status_added_on]  DEFAULT (getdate()),
	[modified_on] [datetime] NULL,
	[roleid] [int] NULL,
 CONSTRAINT [PK_hos_treatment_status] PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LNK_USER_ROLE]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LNK_USER_ROLE](
	[User_Id] [int] NOT NULL,
	[Role_Id] [int] NOT NULL,
 CONSTRAINT [PK_LNK_USER_ROLE] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC,
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LNKRolePractice]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LNKRolePractice](
	[rolepractice_id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[practiceid] [int] NULL,
	[addedon] [datetime] NULL CONSTRAINT [DF_LNKRolePractice_addedon]  DEFAULT (getdate()),
 CONSTRAINT [PK_LNKRolePractice] PRIMARY KEY CLUSTERED 
(
	[rolepractice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[patient_doctor_assign]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[patient_doctor_assign](
	[assignment_id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NULL,
	[assignment_date] [datetime] NULL CONSTRAINT [DF_patient_doctor_assign_assignment_date]  DEFAULT (getdate()),
	[doc_id] [int] NULL,
	[patient_seen] [varchar](1) NULL CONSTRAINT [DF_patient_doctor_assign_patient_seen]  DEFAULT ('N'),
	[patient_admitted] [varchar](1) NULL CONSTRAINT [DF_patient_doctor_assign_patient_admitted]  DEFAULT ('N'),
	[assigned_by] [int] NULL,
	[modified_on] [datetime] NULL,
	[isactive] [int] NULL CONSTRAINT [DF_patient_doctor_assign_isactive]  DEFAULT ((1)),
	[modified_by] [int] NULL,
	[isreview] [int] NULL,
 CONSTRAINT [PK_patient_doctor_assign] PRIMARY KEY CLUSTERED 
(
	[assignment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[practices]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[practices](
	[practice_id] [int] IDENTITY(1,1) NOT NULL,
	[practice] [varchar](200) NULL,
	[isactive] [int] NULL CONSTRAINT [DF_practices_isactive]  DEFAULT ((1)),
	[added_on] [datetime] NULL CONSTRAINT [DF_practices_added_on]  DEFAULT (getdate()),
	[modified] [datetime] NULL,
 CONSTRAINT [PK_practices] PRIMARY KEY CLUSTERED 
(
	[practice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[Role_Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[RoleDescription] [nvarchar](250) NULL,
	[IsSysAdmin] [bit] NULL CONSTRAINT [DF_ROLES_IsSysAdmin]  DEFAULT ((0)),
	[LastModified] [datetime] NOT NULL CONSTRAINT [DF_ROLES_LastModified]  DEFAULT (getdate()),
 CONSTRAINT [PK_tbl_Roles] PRIMARY KEY CLUSTERED 
(
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sales]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[salesorderId] [int] NOT NULL,
	[patient_id] [int] NULL,
	[productid] [int] NULL,
	[itemtype] [char](1) NULL,
	[quantity] [int] NULL,
	[isactive] [int] NULL,
	[paid] [int] NULL,
	[userid] [int] NULL,
	[createdOn] [datetime] NULL CONSTRAINT [DF_Sales_createdOn]  DEFAULT (getdate()),
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sheet1$]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sheet1$](
	[Diagnoses] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sheet22$]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sheet22$](
	[drug_name] [nvarchar](255) NULL,
	[unit_price] [float] NULL,
	[Volume] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[stocks]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stocks](
	[stockid] [int] IDENTITY(1,1) NOT NULL,
	[productid] [int] NULL,
	[quantity] [int] NULL,
	[added_on] [datetime] NULL CONSTRAINT [DF_stocks_added_on]  DEFAULT (getdate()),
	[modified_on] [datetime] NULL,
	[addedby] [int] NULL,
	[batchid] [int] NULL,
	[isactive] [int] NULL CONSTRAINT [DF_stocks_isactive]  DEFAULT ((1)),
 CONSTRAINT [PK_stocks] PRIMARY KEY CLUSTERED 
(
	[stockid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERS]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](300) NULL,
	[LastModified] [datetime] NULL,
	[Inactive] [bit] NULL CONSTRAINT [DF_USERS_Inactive]  DEFAULT ((0)),
	[Firstname] [nvarchar](50) NULL,
	[Lastname] [nvarchar](50) NULL,
	[Title] [nvarchar](30) NULL,
	[Initial] [nvarchar](3) NULL,
	[EMail] [nvarchar](100) NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[vw_patientbill]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_patientbill]
AS
SELECT        b.added_on AS BillAdded, b.bill_id, b.patient_id, b.order_id, b.price, b.item_id, c.charge_id, c.charge_description, c.amount, p.pat_number, p.pat_id, p.pat_lname, p.pat_fname, p.pat_oname, p.pat_gender, p.dob, p.pat_res, 
                         p.pat_mobile, p.pat_phone, b.added_on, b.modified_on, p.pat_postal, p.pat_occupation, p.added_on AS patientaddedOn, p.modified_on AS patientModifiedOn, p.isactive AS patientIsActive, p.emergencycontactperson, 
                         p.emergencycontact, p.paymode
FROM            dbo.billing AS b INNER JOIN
                         dbo.charges AS c ON c.charge_id = b.item_id INNER JOIN
                         dbo.hos_patient AS p ON b.patient_id = p.pat_id
UNION
SELECT        s.createdon, NULL, s.patient_id, s.salesorderid, d .unit_price, s.productid, id, d .drug_name, d .unit_price * quantity, pa.pat_number, NULL, pa.pat_lname, pa.pat_fname, 
                         pa.pat_oname, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL
FROM            sales s INNER JOIN
                         drugs d ON d .drug_id = s.productid AND s.itemtype='P' INNER JOIN
                         dbo.hos_patient AS pa ON s.patient_id = pa.pat_id

UNION
SELECT        s.createdon, NULL, s.patient_id, s.salesorderid, d .unit_price, s.productid, id, d .test_name, d .unit_price , pa.pat_number, NULL, pa.pat_lname, pa.pat_fname, 
                         pa.pat_oname, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL
FROM            sales s INNER JOIN
                         hos_lab_test d ON d .test_id = s.productid AND s.itemtype='L' INNER JOIN
                         dbo.hos_patient AS pa ON s.patient_id = pa.pat_id 

GO
/****** Object:  View [dbo].[vw_MonthSales]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_MonthSales]
AS
SELECT        SUM(amount) AS SalesMade, DATENAME(month, DATEADD(month, MONTH(BillAdded), - 1)) AS Month
FROM            dbo.vw_patientbill
GROUP BY MONTH(BillAdded)

GO
/****** Object:  View [dbo].[vw_GenderDistribution]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_GenderDistribution]
AS
SELECT * 
FROM (
	SELECT COUNT(*)as COUNT,pat_gender FROM hos_Patient
	GROUP BY pat_gender
)A
PIVOT(
	SUM( A.COUNT)
	FOR A.pat_gender IN ([female],[male])

)piv

GO
/****** Object:  View [dbo].[vw_PatientCountPerMonth]    Script Date: 12/19/2018 11:51:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PatientCountPerMonth]
AS
SELECT        COUNT(*) AS PatientsCount, DATENAME(month, DATEADD(month, MONTH(added_on), - 1)) AS Month, MONTH(added_on) AS MonthNumber
FROM            dbo.hos_medical
GROUP BY MONTH(added_on)

GO
SET IDENTITY_INSERT [dbo].[batches] ON 

INSERT [dbo].[batches] ([batch_id], [batch_number], [isactive], [added_on], [modified_on], [manufacture_date], [expiry_date]) VALUES (1, N'ACH0000001', 1, CAST(N'2018-08-18 17:54:10.110' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[batches] OFF
SET IDENTITY_INSERT [dbo].[billing] ON 

INSERT [dbo].[billing] ([bill_id], [patient_id], [order_id], [price], [item_id], [itemtype], [added_on], [modified_on], [isactive]) VALUES (1, 2, N'-1', NULL, 5, NULL, CAST(N'2018-11-29 13:25:43.100' AS DateTime), NULL, 1)
INSERT [dbo].[billing] ([bill_id], [patient_id], [order_id], [price], [item_id], [itemtype], [added_on], [modified_on], [isactive]) VALUES (2, 2, N'501611', NULL, 5, NULL, CAST(N'2018-11-29 13:26:40.637' AS DateTime), NULL, 1)
INSERT [dbo].[billing] ([bill_id], [patient_id], [order_id], [price], [item_id], [itemtype], [added_on], [modified_on], [isactive]) VALUES (3, 3, N'-1', NULL, 5, NULL, CAST(N'2018-11-29 13:31:02.267' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[billing] OFF
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([category_id], [category_name], [isactive], [added_on], [modified_on], [added_by]) VALUES (1, N'tablets', 1, CAST(N'2018-07-09 18:03:00.483' AS DateTime), NULL, NULL)
INSERT [dbo].[category] ([category_id], [category_name], [isactive], [added_on], [modified_on], [added_by]) VALUES (2, N'capsules', 1, CAST(N'2018-07-09 18:03:00.533' AS DateTime), NULL, NULL)
INSERT [dbo].[category] ([category_id], [category_name], [isactive], [added_on], [modified_on], [added_by]) VALUES (3, N'syrup', 1, CAST(N'2018-07-09 18:03:00.567' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[category] OFF
SET IDENTITY_INSERT [dbo].[charges] ON 

INSERT [dbo].[charges] ([charge_id], [charge_description], [amount], [isactive], [added_on], [modified_on]) VALUES (1, N'VIP Ward', CAST(150.00 AS Decimal(18, 2)), 1, CAST(N'2018-07-09 18:01:23.053' AS DateTime), NULL)
INSERT [dbo].[charges] ([charge_id], [charge_description], [amount], [isactive], [added_on], [modified_on]) VALUES (2, N'Nursing Care', CAST(0.00 AS Decimal(18, 2)), 1, CAST(N'2018-07-09 18:01:23.053' AS DateTime), NULL)
INSERT [dbo].[charges] ([charge_id], [charge_description], [amount], [isactive], [added_on], [modified_on]) VALUES (3, N'Mini Minor Surgery', CAST(0.00 AS Decimal(18, 2)), 1, CAST(N'2018-07-09 18:01:23.053' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[charges] OFF
SET IDENTITY_INSERT [dbo].[drugs] ON 

INSERT [dbo].[drugs] ([drug_id], [drug_name], [volume], [unit], [isactive], [added_on], [modified_on], [added_by], [unit_price], [category_id]) VALUES (1, N'Tabs Metformin ', N'500(mg)', NULL, 1, CAST(N'2018-11-25 20:30:53.170' AS DateTime), NULL, NULL, CAST(12.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[drugs] ([drug_id], [drug_name], [volume], [unit], [isactive], [added_on], [modified_on], [added_by], [unit_price], [category_id]) VALUES (2, N'Aurora ', N'10(mg)', NULL, 1, CAST(N'2018-11-25 20:30:53.170' AS DateTime), NULL, NULL, CAST(0.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[drugs] ([drug_id], [drug_name], [volume], [unit], [isactive], [added_on], [modified_on], [added_by], [unit_price], [category_id]) VALUES (3, N'Stugeron ', N'25(mg)', NULL, 1, CAST(N'2018-11-25 20:30:53.170' AS DateTime), NULL, NULL, CAST(6.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[drugs] OFF
SET IDENTITY_INSERT [dbo].[hos_diagnoses] ON 

INSERT [dbo].[hos_diagnoses] ([diagnosis_id], [diagnosis], [isactive], [added_on]) VALUES (1, N'Cholera', 1, CAST(N'2018-12-18 12:14:23.477' AS DateTime))
INSERT [dbo].[hos_diagnoses] ([diagnosis_id], [diagnosis], [isactive], [added_on]) VALUES (2, N'Amoebiasis', 1, CAST(N'2018-12-18 12:14:23.477' AS DateTime))
INSERT [dbo].[hos_diagnoses] ([diagnosis_id], [diagnosis], [isactive], [added_on]) VALUES (3, N'Diarrhoea and gastroenteritis of presumed infection origin', 1, CAST(N'2018-12-18 12:14:23.477' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[hos_diagnoses] OFF
SET IDENTITY_INSERT [dbo].[hos_drug_prescribed] ON 

INSERT [dbo].[hos_drug_prescribed] ([drug_request_id], [drug_id], [patient_id], [user_id], [isactive], [added_on], [modified_on], [completedyn], [completedby], [dosage], [medical_id]) VALUES (1, 42, 2, 11, 1, CAST(N'2018-11-29 13:25:43.063' AS DateTime), NULL, NULL, NULL, N'4 4 2', NULL)
INSERT [dbo].[hos_drug_prescribed] ([drug_request_id], [drug_id], [patient_id], [user_id], [isactive], [added_on], [modified_on], [completedyn], [completedby], [dosage], [medical_id]) VALUES (2, 28, 3, 11, 1, CAST(N'2018-11-29 13:31:02.220' AS DateTime), NULL, NULL, NULL, N'20', 7)
INSERT [dbo].[hos_drug_prescribed] ([drug_request_id], [drug_id], [patient_id], [user_id], [isactive], [added_on], [modified_on], [completedyn], [completedby], [dosage], [medical_id]) VALUES (3, 42, 2, 11, 1, CAST(N'2018-11-30 16:36:56.620' AS DateTime), NULL, NULL, NULL, N'4 4 2 dosage', NULL)
SET IDENTITY_INSERT [dbo].[hos_drug_prescribed] OFF
SET IDENTITY_INSERT [dbo].[hos_examination] ON 

INSERT [dbo].[hos_examination] ([examination_id], [examination], [isactive], [added_on]) VALUES (1, N'General Appearance', 1, CAST(N'2018-12-18 13:07:34.990' AS DateTime))
INSERT [dbo].[hos_examination] ([examination_id], [examination], [isactive], [added_on]) VALUES (2, N'Behavioral', 1, CAST(N'2018-12-18 13:07:46.893' AS DateTime))
INSERT [dbo].[hos_examination] ([examination_id], [examination], [isactive], [added_on]) VALUES (3, N'Integumentary', 1, CAST(N'2018-12-18 13:07:56.743' AS DateTime))
SET IDENTITY_INSERT [dbo].[hos_examination] OFF
SET IDENTITY_INSERT [dbo].[hos_images] ON 

SET IDENTITY_INSERT [dbo].[hos_images] OFF
SET IDENTITY_INSERT [dbo].[hos_lab_request] ON 

INSERT [dbo].[hos_lab_request] ([lab_request_id], [test_id], [patient_id], [user_id], [isactive], [added_on], [modified_on], [completedyn], [remarks], [completedby], [medical_id]) VALUES (1, 1664, 1, 0, 1, CAST(N'2018-11-25 21:10:26.610' AS DateTime), NULL, N'y', NULL, 5, NULL)
INSERT [dbo].[hos_lab_request] ([lab_request_id], [test_id], [patient_id], [user_id], [isactive], [added_on], [modified_on], [completedyn], [remarks], [completedby], [medical_id]) VALUES (2, 98, 2, 0, 1, CAST(N'2018-11-28 07:38:46.657' AS DateTime), NULL, N'y', NULL, 5, NULL)
INSERT [dbo].[hos_lab_request] ([lab_request_id], [test_id], [patient_id], [user_id], [isactive], [added_on], [modified_on], [completedyn], [remarks], [completedby], [medical_id]) VALUES (3, 98, 2, 0, 1, CAST(N'2018-11-28 07:38:46.670' AS DateTime), NULL, N'y', NULL, 5, NULL)
SET IDENTITY_INSERT [dbo].[hos_lab_request] OFF
SET IDENTITY_INSERT [dbo].[hos_lab_test] ON 

INSERT [dbo].[hos_lab_test] ([test_id], [test_name], [isactive], [added_on], [modified_on], [unit_price]) VALUES (1, N'Full Blood Count', 1, CAST(N'2018-07-09 18:03:56.347' AS DateTime), NULL, CAST(35.00 AS Decimal(18, 2)))
INSERT [dbo].[hos_lab_test] ([test_id], [test_name], [isactive], [added_on], [modified_on], [unit_price]) VALUES (2, N'Widal', 1, CAST(N'2018-07-09 18:03:56.387' AS DateTime), NULL, CAST(35.00 AS Decimal(18, 2)))
INSERT [dbo].[hos_lab_test] ([test_id], [test_name], [isactive], [added_on], [modified_on], [unit_price]) VALUES (3, N'Urine Routine Examination', 1, CAST(N'2018-07-09 18:03:56.420' AS DateTime), NULL, CAST(35.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[hos_lab_test] OFF
SET IDENTITY_INSERT [dbo].[hos_level] ON 

INSERT [dbo].[hos_level] ([level_id], [level_type], [isactive], [added_on], [modified_on]) VALUES (1, N'Admin', 1, CAST(N'2018-07-09 18:05:09.280' AS DateTime), NULL)
INSERT [dbo].[hos_level] ([level_id], [level_type], [isactive], [added_on], [modified_on]) VALUES (2, N'OPD', 1, CAST(N'2018-07-09 18:05:09.313' AS DateTime), NULL)
INSERT [dbo].[hos_level] ([level_id], [level_type], [isactive], [added_on], [modified_on]) VALUES (3, N'Nurse', 1, CAST(N'2018-07-09 18:05:09.340' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[hos_level] OFF
SET IDENTITY_INSERT [dbo].[hos_medical] ON 

INSERT [dbo].[hos_medical] ([med_id], [patient_id], [complain], [temperature], [height], [weight], [blood_pressure], [pulse], [bmi], [added_on], [modified_on], [isactive], [treatment_status], [historyexamination], [diagnosis]) VALUES (1, 2, N'severe headache', CAST(35.90 AS Decimal(18, 2)), CAST(1.70 AS Decimal(18, 2)), CAST(75.00 AS Decimal(18, 2)), N'100/80', N'100', CAST(25.95 AS Decimal(18, 2)), CAST(N'2018-11-29 13:14:15.240' AS DateTime), NULL, 1, 7, N'Test for malaria', N'Fever')
INSERT [dbo].[hos_medical] ([med_id], [patient_id], [complain], [temperature], [height], [weight], [blood_pressure], [pulse], [bmi], [added_on], [modified_on], [isactive], [treatment_status], [historyexamination], [diagnosis]) VALUES (2, 3, N'Coughs', CAST(37.00 AS Decimal(18, 2)), CAST(1.70 AS Decimal(18, 2)), CAST(89.00 AS Decimal(18, 2)), N'100/80', N'', CAST(30.80 AS Decimal(18, 2)), CAST(N'2018-11-29 13:28:05.700' AS DateTime), NULL, 1, 7, N'', N'')
INSERT [dbo].[hos_medical] ([med_id], [patient_id], [complain], [temperature], [height], [weight], [blood_pressure], [pulse], [bmi], [added_on], [modified_on], [isactive], [treatment_status], [historyexamination], [diagnosis]) VALUES (3, 2, N'Swollen Lips', CAST(37.00 AS Decimal(18, 2)), CAST(1.80 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), N'100/80', N'', CAST(30.86 AS Decimal(18, 2)), CAST(N'2018-11-30 16:33:36.737' AS DateTime), NULL, 1, 7, N'', N'')
SET IDENTITY_INSERT [dbo].[hos_medical] OFF
SET IDENTITY_INSERT [dbo].[hos_patient] ON 

INSERT [dbo].[hos_patient] ([pat_number], [pat_id], [pat_lname], [pat_fname], [pat_oname], [pat_gender], [dob], [pat_res], [pat_mobile], [pat_phone], [pat_postal], [pat_occupation], [added_on], [modified_on], [isactive], [emergencycontactperson], [emergencycontact], [paymode], [pat_title], [national_id], [pat_level]) VALUES (N'ACH30263311/25/2018', 1, N'Fiator', N'Sefakor', N'', N'', N'11/15/2018', N'Adg', N'0245018397', N'', N'567897', N'Cleaner', CAST(N'2018-11-25 20:53:35.020' AS DateTime), NULL, 1, N'Mr. T.T.', N'0203903033', N'1         ', N'MS ', N'290302929', N'')
SET IDENTITY_INSERT [dbo].[hos_patient] OFF
SET IDENTITY_INSERT [dbo].[hos_staff] ON 

INSERT [dbo].[hos_staff] ([staff_id], [staff_lname], [staff_fname], [staff_number], [staff_phone], [staff_email], [user_level], [practice_id], [added_on], [modified_on], [isactive]) VALUES (1, N'Black', N'Frank', N'000001', N'0208871470', N'frank@gmail.com', 4, 6, CAST(N'2018-07-11 14:34:40.037' AS DateTime), NULL, 1)
INSERT [dbo].[hos_staff] ([staff_id], [staff_lname], [staff_fname], [staff_number], [staff_phone], [staff_email], [user_level], [practice_id], [added_on], [modified_on], [isactive]) VALUES (2, N'Jeff', N'Oti', N'000002', N'0207665667', N'jeff@gmail.com', 4, 6, CAST(N'2018-07-11 16:44:12.237' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[hos_staff] OFF
SET IDENTITY_INSERT [dbo].[hos_treatment_status] ON 

INSERT [dbo].[hos_treatment_status] ([status_id], [status], [isactive], [added_on], [modified_on], [roleid]) VALUES (1, N'new', 1, CAST(N'2018-04-27 17:38:18.000' AS DateTime), NULL, 2)
INSERT [dbo].[hos_treatment_status] ([status_id], [status], [isactive], [added_on], [modified_on], [roleid]) VALUES (2, N'check_vitals', 1, CAST(N'2018-04-27 17:38:14.000' AS DateTime), NULL, 2)
INSERT [dbo].[hos_treatment_status] ([status_id], [status], [isactive], [added_on], [modified_on], [roleid]) VALUES (3, N'see_doctor', 1, CAST(N'2018-04-27 17:38:11.000' AS DateTime), NULL, 3)
SET IDENTITY_INSERT [dbo].[hos_treatment_status] OFF
INSERT [dbo].[LNK_USER_ROLE] ([User_Id], [Role_Id]) VALUES (1, 17)
INSERT [dbo].[LNK_USER_ROLE] ([User_Id], [Role_Id]) VALUES (2, 15)
INSERT [dbo].[LNK_USER_ROLE] ([User_Id], [Role_Id]) VALUES (3, 16)
SET IDENTITY_INSERT [dbo].[LNKRolePractice] ON 

INSERT [dbo].[LNKRolePractice] ([rolepractice_id], [userid], [practiceid], [addedon]) VALUES (1, 10, 6, CAST(N'2018-10-18 18:31:52.330' AS DateTime))
INSERT [dbo].[LNKRolePractice] ([rolepractice_id], [userid], [practiceid], [addedon]) VALUES (2, 11, 6, CAST(N'2018-11-25 19:27:58.837' AS DateTime))
INSERT [dbo].[LNKRolePractice] ([rolepractice_id], [userid], [practiceid], [addedon]) VALUES (3, 13, 6, CAST(N'2018-11-25 21:02:41.293' AS DateTime))
SET IDENTITY_INSERT [dbo].[LNKRolePractice] OFF
SET IDENTITY_INSERT [dbo].[patient_doctor_assign] ON 

INSERT [dbo].[patient_doctor_assign] ([assignment_id], [patient_id], [assignment_date], [doc_id], [patient_seen], [patient_admitted], [assigned_by], [modified_on], [isactive], [modified_by], [isreview]) VALUES (1, 2, CAST(N'2018-11-29 13:14:22.683' AS DateTime), 11, N'Y', N'N', NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[patient_doctor_assign] ([assignment_id], [patient_id], [assignment_date], [doc_id], [patient_seen], [patient_admitted], [assigned_by], [modified_on], [isactive], [modified_by], [isreview]) VALUES (2, 3, CAST(N'2018-11-29 13:28:12.627' AS DateTime), 11, N'Y', N'N', NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[patient_doctor_assign] ([assignment_id], [patient_id], [assignment_date], [doc_id], [patient_seen], [patient_admitted], [assigned_by], [modified_on], [isactive], [modified_by], [isreview]) VALUES (3, 2, CAST(N'2018-11-29 16:33:49.310' AS DateTime), 11, N'Y', N'N', NULL, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[patient_doctor_assign] OFF
SET IDENTITY_INSERT [dbo].[practices] ON 

INSERT [dbo].[practices] ([practice_id], [practice], [isactive], [added_on], [modified]) VALUES (1, N'Other', 1, CAST(N'2018-07-09 17:57:45.607' AS DateTime), NULL)
INSERT [dbo].[practices] ([practice_id], [practice], [isactive], [added_on], [modified]) VALUES (2, N'Dentist', 1, CAST(N'2018-07-09 17:57:45.607' AS DateTime), NULL)
INSERT [dbo].[practices] ([practice_id], [practice], [isactive], [added_on], [modified]) VALUES (3, N'Optometrist', 1, CAST(N'2018-07-09 17:57:45.610' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[practices] OFF
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([Role_Id], [RoleName], [RoleDescription], [IsSysAdmin], [LastModified]) VALUES (15, N'Doctor', N'Doctor', 1, CAST(N'2018-08-09 07:46:26.923' AS DateTime))
INSERT [dbo].[ROLES] ([Role_Id], [RoleName], [RoleDescription], [IsSysAdmin], [LastModified]) VALUES (16, N'FrontNurse', N'Front Desk or Nurse', 0, CAST(N'2018-08-09 07:46:26.923' AS DateTime))
INSERT [dbo].[ROLES] ([Role_Id], [RoleName], [RoleDescription], [IsSysAdmin], [LastModified]) VALUES (17, N'Admin', N'For Super Access', 0, CAST(N'2018-08-25 10:49:18.950' AS DateTime))
SET IDENTITY_INSERT [dbo].[ROLES] OFF
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([id], [salesorderId], [patient_id], [productid], [itemtype], [quantity], [isactive], [paid], [userid], [createdOn]) VALUES (1, 917817, 2, 20, N'L', 0, NULL, NULL, 5, CAST(N'2018-11-29 13:22:01.207' AS DateTime))
INSERT [dbo].[Sales] ([id], [salesorderId], [patient_id], [productid], [itemtype], [quantity], [isactive], [paid], [userid], [createdOn]) VALUES (2, 917817, 2, 172, N'L', 0, NULL, NULL, 5, CAST(N'2018-11-29 13:22:02.153' AS DateTime))
INSERT [dbo].[Sales] ([id], [salesorderId], [patient_id], [productid], [itemtype], [quantity], [isactive], [paid], [userid], [createdOn]) VALUES (3, 501611, 2, 42, N'P', 10, NULL, NULL, 4, CAST(N'2018-11-29 13:26:40.577' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sales] OFF
INSERT [dbo].[Sheet1$] ([Diagnoses]) VALUES (N'Cholera')
INSERT [dbo].[Sheet1$] ([Diagnoses]) VALUES (N' Amoebiasis')
INSERT [dbo].[Sheet1$] ([Diagnoses]) VALUES (N' Diarrhoea and gastroenteritis of presumed infection origin')
GO
INSERT [dbo].[Sheet22$] ([drug_name], [unit_price], [Volume]) VALUES (N'Tabs Metformin ', 12, N'500(mg)')
INSERT [dbo].[Sheet22$] ([drug_name], [unit_price], [Volume]) VALUES (N'Aurora ', NULL, N'10(mg)')
INSERT [dbo].[Sheet22$] ([drug_name], [unit_price], [Volume]) VALUES (N'Stugeron ', 6, N'25(mg)')
GO
SET IDENTITY_INSERT [dbo].[stocks] ON 

INSERT [dbo].[stocks] ([stockid], [productid], [quantity], [added_on], [modified_on], [addedby], [batchid], [isactive]) VALUES (1, 42, 30, CAST(N'2018-11-29 07:57:49.940' AS DateTime), NULL, 4, 1, 1)
INSERT [dbo].[stocks] ([stockid], [productid], [quantity], [added_on], [modified_on], [addedby], [batchid], [isactive]) VALUES (2, 43, 100, CAST(N'2018-11-29 07:57:49.960' AS DateTime), NULL, 4, 1, 1)
INSERT [dbo].[stocks] ([stockid], [productid], [quantity], [added_on], [modified_on], [addedby], [batchid], [isactive]) VALUES (3, 17, 20, CAST(N'2018-11-29 07:57:49.973' AS DateTime), NULL, 4, 1, 1)
SET IDENTITY_INSERT [dbo].[stocks] OFF
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([User_Id], [Username], [Password], [LastModified], [Inactive], [Firstname], [Lastname], [Title], [Initial], [EMail]) VALUES (1, N'otij', N'x47rvmhYPAi+WOhnOn6sZg==', CAST(N'2018-09-23 13:20:31.577' AS DateTime), NULL, N'Jeffrey', N'Oti', N'Mr.', NULL, N'Jeffrey@gmail.com')
INSERT [dbo].[USERS] ([User_Id], [Username], [Password], [LastModified], [Inactive], [Firstname], [Lastname], [Title], [Initial], [EMail]) VALUES (2, N'black.j', N'x47rvmhYPAi+WOhnOn6sZg==', CAST(N'2018-10-03 22:01:23.883' AS DateTime), NULL, N'Jay', N'Black', N'Mr.', NULL, N'Jeffrey@gmail.com')
INSERT [dbo].[USERS] ([User_Id], [Username], [Password], [LastModified], [Inactive], [Firstname], [Lastname], [Title], [Initial], [EMail]) VALUES (3, N'nurse', N'AE8F6EKX01j7i0HPQZ5l5g==', CAST(N'2018-10-08 21:08:16.270' AS DateTime), NULL, N'Nurse', N'Black', N'Ms.', NULL, N'nurse@gmail.com')
SET IDENTITY_INSERT [dbo].[USERS] OFF
ALTER TABLE [dbo].[hos_diagnosed] ADD  CONSTRAINT [DF_hos_diagnosed_added_on]  DEFAULT (getdate()) FOR [added_on]
GO
ALTER TABLE [dbo].[hos_examined] ADD  CONSTRAINT [DF_hos_examined_added_on]  DEFAULT (getdate()) FOR [added_on]
GO
ALTER TABLE [dbo].[hos_examined] ADD  CONSTRAINT [DF_hos_examined_isactive]  DEFAULT ((1)) FOR [isactive]
GO
ALTER TABLE [dbo].[LNK_USER_ROLE]  WITH NOCHECK ADD  CONSTRAINT [FK_LNK_USER_ROLE_ROLES] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[ROLES] ([Role_Id])
GO
ALTER TABLE [dbo].[LNK_USER_ROLE] CHECK CONSTRAINT [FK_LNK_USER_ROLE_ROLES]
GO
ALTER TABLE [dbo].[LNK_USER_ROLE]  WITH NOCHECK ADD  CONSTRAINT [FK_LNK_USER_ROLE_USERS] FOREIGN KEY([User_Id])
REFERENCES [dbo].[USERS] ([User_Id])
GO
ALTER TABLE [dbo].[LNK_USER_ROLE] CHECK CONSTRAINT [FK_LNK_USER_ROLE_USERS]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_GenderDistribution'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_GenderDistribution'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "vw_patientbill"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 278
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_MonthSales'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_MonthSales'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 30
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 1725
         Table = 1350
         Output = 2145
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_patientbill'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_patientbill'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "hos_medical"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 304
               Right = 291
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_PatientCountPerMonth'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_PatientCountPerMonth'
GO
USE [master]
GO
