@{
    ViewBag.Title = "AddBatches";
}

<form action="" class="form-horizontal" id="charges" name="charges" method="POST">
    <div class="row ">
        <div class="col-12">
            <input type="hidden" id="chargeID" name="chargeID" />
            <label class="control-label">Description:</label>
            <input type="text" class="input form-control" id="description" name="description" value="" />
        </div>  @*<input type="text" class="input form-control" id="pat_id" name="pat_id"value=""/>*@

    </div>

    <div class="row">
        <div class="col-6">
            <label class="control-label">Amount:</label>
            <input type="text" name="amount" id="amount" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label class="control-label">Status:</label>
            <input type="checkbox" name="chkStatus" id="chkStatus" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            <button  class="btn btn-success" id="btnSave" name="btnSave" onclick="AddCharges();">Save</button>
        </div>
    </div>
</form>